<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet reconnaissance faciale</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Reconnaissance Faciale</h1>
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="recherche.html">Rechercher un utilisateur</a></li>
                <li><a href="librairie.html">Librairie</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Bienvenue sur l'application de reconnaissance faciale</h2>
            <p>Utilisez les options ci-dessus pour ajouter une image ou rechercher des correspondances.</p>
        </section>
    </main>
</body>
</html>