<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque d'Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Bibliothèque d'Images</h1>
        <nav>
            <ul>
                <li><a href="recherche">Rechercher un utilisateur</a></li>
                <li><a href="librairie">Librairie</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <form action="/ajouter_image" method="POST" enctype="multipart/form-data">
                <label for="image">Choisir une image :</label><br>
                <input type="file" id="image" name="image" accept="image/*" required><br><br>

                <label for="description">Description :</label><br>
                <textarea id="description" name="description" rows="4" cols="50" placeholder="Entrez une description..." required></textarea><br><br>

                <button type="submit">Ajouter</button>
            </form>

            <h2>Galerie d'Images</h2>
            <div class="gallery">
                {% for image, description in zip(images, descriptions) %}
                    <div class="image-card">
                        <a href="{{ url_for('get_image', filename=image.replace('images/', '')) }}" target="_blank">
                            <img src="{{ url_for('get_image', filename=image.replace('images/', '')) }}" alt="Image {{ loop.index }}">
                        </a>
                        <p>{{ description }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>
