<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rechercher un utilisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Rechercher un utilisateur</h1>
        <nav>
            <ul>
                <li><a href="recherche">Rechercher un utilisateur</a></li>
                <li><a href="librairie">Ajouter un utilisateur</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Formulaire de Recherche</h2>
            <form action="/search" method="GET">
                <label for="search_image">Rechercher par image :</label><br>
                <input type="file" id="search_image" name="search_image" accept="image/*"><br><br>

                <label for="search_description">Rechercher par description :</label><br>
                <input type="text" id="search_description" name="search_description" placeholder="Entrez une description..."><br><br>

                <button type="submit">Rechercher</button>
            </form>
        </section>
        <h2>Résultats de la Recherche</h2>
    <ul>
        {% for index, (score, description,image_path) in results.items() %}
    <div>
        <img src="{{ url_for('static', filename=image_path) }}" alt="Image {{ loop.index }}" style="width:150px;height:150px;">
            
        <p>Score : {{ score }}</p>
        <p>Description : {{ description }}</p>
    </div>
{% endfor %}

    </ul>
    </main>
</body>
<footer>
    Seye El Hadji Babou |
    Traore Nanigna |
    Touvoli Ketty |
    Nora Badaoui |
    Ngueyap Hilary
<br>
<a href="https://github.com/Babou001/Face_recognition">Github </a>
</footer>
</html>